.friends-table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 12px #99182122;
    margin-bottom: 1.7em;
    border: 2.5px solid #991821;
    border-radius: 6px;
}
.friends-table th, .friends-table td {
    padding: 9px 3px;
    text-align: left;
}
.friends-table thead th {
    background: linear-gradient(135deg, #991821 5%, #80141C 100%);
    color: #fff;
    font-size: 1.09em;
    font-weight: bold;
    border-left: 1px solid #B01C26;
    white-space: nowrap;
}
.friends-table thead th:first-child { border-left: none; }
.friends-table tbody td {
    color: #80141C;
    border-left: 3px solid #F7CDCD;
    font-size: 1em;
    font-weight: normal;
}
.friends-table tbody .alt td { background: #F7CDCD; color: #80141C; }
.friends-table tbody td:first-child { border-left: none; }
.friends-table tbody tr:last-child td { border-bottom: none; }
/* This styles unknown cells, both in odd and even rows */
.friends-table td.unknown,
.friends-table .alt td.unknown {
    background-color: red;
    color: #fff;
    font-weight: bold;
}
