
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f6f8fb;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    background: linear-gradient(135deg, #FF0000, #ef3434);
    color: white;
    text-align: center;
    padding: 0.5rem 0.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

header h1 {
    margin-bottom: 0.2rem;
    font-size: 1.6rem;
}

header h2 {
    font-weight: normal;
    color: #e3e9f3;
    font-size: 1rem;
}

section {
    background: white;
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

section h3 {
    color: #FF2C2C;
    border-bottom: 2px solid rgba(179, 3, 3, 0.83);
    padding-bottom: 0.4rem;
}


p, li {
    font-size: 1rem;
}

ul {
    list-style-type: square;
    padding-left: 1.5rem;
}

a {
    color: rgba(179, 3, 3, 0.83);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgba(179, 3, 3, 0.83);
}


figure {
    text-align: center;
    margin: 1.5rem 0;
}

figure img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

figure figcaption {
    color: #555;
    font-style: italic;
    margin-top: 0.5rem;
}

section ul img {
    width: 160px;
    margin: 0.5rem 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


footer {
    background-color: rgba(179, 3, 3, 0.83);
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    margin-top: 3rem;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}
